@charset "UTF-8";

body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

nav{
    box-shadow: 0 5px 10px #ccc;
}

#nameLogo{
    font-family: 'Cedarville Cursive', cursive;
}

#intro button{
    background-color: rgb(80, 11, 170);
}

#slider{
    height: 50px;
    border-radius: 30px 0 0 30px;
}

.slider_track{
    height: 60px;
}

#slider1{
    height: 50px;
    border-radius: 0 30px 30px 0;
}

#track{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
}

#dsa,#html,#css,#js,#jquery,#bootstrap,#ajax,#sql,#php{
    width: 0;
    height: 30px;
    border-radius: 15px;
}

#btn{
    width: 110px;
    background-color: rgb(80, 11, 170);
    margin: 0 50%;
    translate: -50%;
}

.contact div{
    font-size: 25px;
    padding: 20px;
}

footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @media only screen and (min-width: 768px) and (max-width: 992px){
    .nav-link{
        font-size: 60px !important;
    }
} */